<!DOCTYPE html>
<html>
  <head>

    <%# Title and description %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
  
    <%# Facebook Open Graph Data %>
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <%# Twitter Card Data %>
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta property="twitter:title" content="<%= meta_title %>">
    <meta property="twitter:description" content="<%= meta_description %>">
    <meta property="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta property="twitter:image:src" content="<%= meta_image %>">

    <%# RSS Feed %>
    <link href="<%= feed_path %>" rel="alternante" type="application/rss+xml" title="RSS feed">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'theme.scss' %>
    <%= yield :custom_stylesheet %>

    <%# favicon, by using data:image you save an extra HTTP request on each page load  %>
    <link rel="icon" type="image/svg" sizes="16x16" href="https://everlum.bio/?hsLang=en" />

  </head>

  <body class="site">

    <%# "toast" notification for flash messages  %>
    <%= render 'shared/toast', flash: flash %>
    
    <%# main navigation bar, fixed to the top  %>
    <%= render 'shared/main_nav' %>

    <main>

      <%# main content for our public website will display here  %>
      <div class="page container pt-5 mt-4 ps-5" style="max-width: 1325px">
        <%= yield %>
      </div>
    </main>

    <%# shared footer  %>
    <%= render 'shared/footer' %>

    <%= yield :custom_javascript %>
  </body>
</html>
